.chat-side
  .chat-user
    %h5
      = current_user.name
    .chat-user__actions
      = link_to new_group_path, class: "chat-user__action" do
        %i.fa.fa-pencil-square-o
      = link_to edit_user_registration_path, class: "chat-user__action" do
        %i.fa.fa-cog
  %ul.chat-groups
    = render partial: 'messages/group', collection: groups
