.chat-main
  .chat-header
    .chat-header__left
      %h2
        TECH::CAMP11th
      %p.chat-header__users
        Members:
        %span.chat-header__user
          やまぴー
    .chat-header__right
      .chat-header__edit-btn
  .chat-body
    %ul.chat-messages
      = render partial: 'message', collection: @messages
  .chat-footer
    = form_for @message, remote: true do |f|
      .new_message
        .chat-footer__body
          = f.text_area :body, class: "chat-footer__textarea"
          = f.submit "送信", class: "chat-footer__submit"
