.layout-notification
  .chat
    .chat-side
      .chat-user
        %h5
          やまぴー
        .chat-user__actions
      %ul.chat-groups
        %li.chat-group
          %p.chat-group__name
            TECH::CAMP11th
          %p.chat-group__message
            まだメッセージはありません。
        %li.chat-group
          %p.chat-group__name
            TECH::CAMP10th
          %p.chat-group__message
            まだメッセージはありません。
        %li.chat-group
          %p.chat-group__name
            TECH::CAMP10th
          %p.chat-group__message
            まだメッセージはありません。
        %li.chat-group
          %p.chat-group__name
            TECH::CAMP10th
          %p.chat-group__message
            まだメッセージはありません。
        %li.chat-group
          %p.chat-group__name
            TECH::CAMP10th
          %p.chat-group__message
            まだメッセージはありません。
        %li.chat-group
          %p.chat-group__name
            TECH::CAMP10th
          %p.chat-group__message
            まだメッセージはありません。
        %li.chat-group
          %p.chat-group__name
            TECH::CAMP10th
          %p.chat-group__message
            まだメッセージはありません。
    .chat-main
      .chat-header
        .chat-header__left
          %h2
            TECH::CAMP11th
          %p.chat-header__users
            Members:
            %span.chat-header__user
              やまぴー
        .chat-header__right
          .chat-header__edit-btn
      .chat-body
        %ul.chat-messages
          %li.chat-message
            .chat-message__header
              %p.chat-message__name
                やまぴー
              %p.chat-message__time
                2時間前
            %p.chat-message__body
              ねむたいよーーー
          %li.chat-message
            .chat-message__header
              %p.chat-message__name
                やまぴー
              %p.chat-message__time
                3時間前
            %p.chat-message__body
              お腹すいたよーーー
          %li.chat-message
            .chat-message__header
              %p.chat-message__name
                やまぴー
              %p.chat-message__time
                4時間前
            %p.chat-message__body
              疲れたよーーー
          %li.chat-message
            .chat-message__header
              %p.chat-message__name
                やまぴー
              %p.chat-message__time
                4時間前
            %p.chat-message__body
              疲れたよーーー
          %li.chat-message
            .chat-message__header
              %p.chat-message__name
                やまぴー
              %p.chat-message__time
                4時間前
            %p.chat-message__body
              疲れたよーーー
          %li.chat-message
            .chat-message__header
              %p.chat-message__name
                やまぴー
              %p.chat-message__time
                4時間前
            %p.chat-message__body
              疲れたよーーー
          %li.chat-message
            .chat-message__header
              %p.chat-message__name
                やまぴー
              %p.chat-message__time
                4時間前
            %p.chat-message__body
              疲れたよーーー
      .chat-footer
        %form.new_message
          .chat-footer__body
            %input.chat-footer__textarea
            %input.chat-footer__submit
