$main_color: #253141;
$main_color_dark: darken($main_color, 5%);
$main_color_bright: lighten($main_color, 70%);

$white: #fff;
$gray: #ddd;
$black: #000;
$green: #ccff66;
$submit-blue: #38AEF0;
$account-color: #38aef0;
